/* global */

.tip { /* from github.com */
    position: relative;
    padding: 40px;
    text-align: center;
    background-color: #fafbfc;
    border: 1px solid #e1e4e8;
    border-radius: 3px;
    box-shadow: inset 0 0 10px rgba(27, 31, 35, 0.05);
}

.hide {
    display: none;
}

.inline {
    display: inline;
}

.user-nav {
    margin: 30px 0 20px;

}

.dead-link {
    text-decoration: none !important;
    border-width: 0;
}

.badge-notification {
    position: relative;
    font-size: 12px;
    text-align: center;
    top: -15px;
    left: -15px;
    border-radius: 50%;
}

.page-header {
    padding-top: 20px;
    padding-bottom: 20px;
}

.page-footer {
    padding-top: 40px;
}

.jumbotron {
    margin-top: 20px;
    padding-top: 38px;
    padding-bottom: 38px;
}

nav {
    margin-bottom: 30px;
}

footer {
    margin: 30px 0;
    padding: 20px 0;
    border-top: 1px solid #e5e5e5;
}

/* for navbar */
.avatar-xs {
    width: 22px;
    height: 22px;
    border-radius: 2px;
}

/* for photo page */
.avatar-s {
    width: 50px;
    height: 50px;
}

/* for user card */
.avatar-m {
    width: 100px;
    height: 100px;
}

/* for user header */
.avatar-l {
    width: 180px;
    height: 180px;
}

/* list item */
.photo-card {
    float: left;
    width: 28%;
    margin: 15px;
    padding: 0.5rem 0.5rem 0 0.5rem;
    border: 0;
    /*background-color: rgba(200,200,200,0.7);*/
}

.photo-card .card-body {
    padding: 5px;
}

.user-card {
    float: left;
    width: 20%;
    max-height: 180px;
    padding: 1rem;
    margin-bottom: 2rem;
    border: 0;
}

.card-thumbnail {
    position: relative;
    width: auto;
    height: 20em;
    overflow: hidden;
}

.card-thumbnail:hover {
    border: 5px solid transparent;
}

.card-thumbnail img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.card-thumbnail img.portrait {
    width: 100%;
    height: auto;
}

@media (max-width: 1280px) {
    .card-thumbnail {
        height: 270px;
    }
}

@media (max-width: 960px) {
    .card-thumbnail {
        height: 220px;
    }
}

@media (max-width: 768px) {
    .photo-card {
        width: 50%;
    }
}

@media (max-width: 640px) {
    .photo-card {
        width: 50%;
    }
}

@media (max-width: 500px) {
    .card-thumbnail {
        height: 20rem;
    }

    .photo-card {
        width: 100%;
    }
}

@media (max-width: 360px) {
    .card-thumbnail {
        height: 20rem;
    }

    .photo-card {
        width: 100%;
    }
}

/* photo page */
.photo {
    padding: 10px 0;
    text-align: center;
}

.sidebar-nav {
    min-height: 150px;
}

.sidebar-nav-name {
    padding-left: 75px;
}

.sidebar-card {
    min-height: 150px;
}

.sidebar-profile {
    padding-left: 120px;
}

.sidebar-avatar {
    position: absolute;
    margin-left: 10px;
}

.trend-card-avatar {
    padding-left: 15px;
}

.popup-card {
    padding: 10px 20px;
}

.popup-profile {
    padding-left: 55px;
}

.popup-avatar {
    position: absolute;
}

.photo img {
    max-height: 800px;
}

.reply-banner {
    color: #000000;
    position: relative;
    padding: 7px;
    background-color: #B8D9EE;
}

.comments {
    margin-top: 30px;
}

.comment-body {
    margin-left: 60px;
    min-height: 50px;
}

.comment-thumbnail {
    position: absolute;
}

.comment-form-thumbnail {
    position: absolute;
    padding-top: 16px
}

.comment-form {
    margin: 5px 0 16px 60px;
}

/* Photo Page */
#tag-form, #description-form {
    display: none;
    margin: 20px 0;
}

/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(../fonts/JTUSjIg1_i6t8kCHKm459WRhyzbi.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(../fonts/JTUSjIg1_i6t8kCHKm459W1hyzbi.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(../fonts/JTUSjIg1_i6t8kCHKm459WZhyzbi.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(../fonts/JTUSjIg1_i6t8kCHKm459Wdhyzbi.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(../fonts/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*.ui-red {*/
  /*color: #f07f84;*/
/*}*/

    /*html, body {*/
      /*width: 100%;*/
      /*height: 100%;*/
      /*overflow: hidden;*/
    /*}*/


#video-back {
    position: fixed;
    left: 0; top: 0; right: 0;bottom: 0;
    /*right:20%;*/
    /*bottom: 20%;*/
    width: 100%;
    height: 100%;
    object-fit: fill;
    z-index: -1;
}

#photo-back {
    left: 0; top: 0; right: 0;bottom: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.my-navbar {
    transition: background 0.2s ease-in-out;
}


.top-nav {
    background:rgba(3,54,73,0.7)
}

.jumbotron-trans {
    background: rgba(233,236,239,0)
}

h1 {
    color: rgba(230,230,230,0.86)
}

h2 {
    color: rgba(230,230,230,0.86)
}
h3 {
    color: rgba(230,230,230,0.86)
}
h4 {
    color: rgba(230,230,230,0.86)
}
h5 {
    color: rgba(230,230,230,0.86)
}
/*p {*/
    /*color: rgba(230,230,230,0.86)*/
/*}*/
/*div {*/
    /*color: rgba(230,230,230,0.86)*/
/*}*/


.whiter {
    color: rgba(230,230,230,0.86)
}

.card-transparent {
    /*opacity: 0.8;*/
    background: rgba(3,54,73,0.5)  !important;
}

.card-transparent-20 {
    /*opacity: 0.8;*/
    background: rgba(3,54,73,0.2)  !important;
}
.card-transparent-10 {
    /*opacity: 0.8;*/
    background: rgba(3,54,73,0.1)  !important;
}
.card-transparent-30 {
    /*opacity: 0.8;*/
    background: rgba(3,54,73,0.3)  !important;
}
.card-transparent-40 {
    /*opacity: 0.8;*/
    background: rgba(3,54,73,0.4)  !important;
}

.gradient{
    background: -moz-linear-gradient(top, rgba(100,100,100,0.8), rgba(100,100,100,0));
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(100%,#ffffff));
    background: -webkit-linear-gradient(top, rgba(100,100,100,0.8), rgba(100,100,100,0));
    background: -o-linear-gradient(top, rgba(100,100,100,0.8),rgba(100,100,100,0));
    background: -ms-linear-gradient(top, rgba(100,100,100,0.8),rgba(100,100,100,0));
    background: linear-gradient(to bottom, rgba(75,75,75,0.8),rgba(100,100,100,0));
}


/*弹窗设置样式， 主要的作用是将其默认*/
/*设为隐藏， 并将其设置在页面下方居中显示*/
#toast { /* form w3school.com */
    display: none;
    min-width: 200px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 10px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
}
