{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}

{% block title %}Register{% endblock %}

{% block content %}

    <div class="jumbotron jumbotron-trans" >
        <div class="row">
            <div class="col-md-8" >
                <img src="{{ url_for('static', filename='images/index3.png') }}" class="rounded img-fluid">
            </div>
            <div class="col-md-4">
                <div class="card mb-3 w-100 bg-light" style="opacity: 0.9">
                    <div class="card-header"><h4>Welcome to NoirArt!</h4></div>
                    <div class="card-body">
                        {{ render_form(form) }}
                        <hr>
                        <small>Already have an account? <a href="{{ url_for('auth.login') }}" target="_self">Click here to log in.</a>
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
