{% extends 'base.html' %}
{% block title %}Password Reset{% endblock %}

{% block content %}
    <div class="page-header justify-content-md-center">
        <h1>Password Reset</h1>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-sm-4">
            <div class="card mb-3 w-100 bg-light">
                <div class="card-body">
                <p> 兄弟，好好想想！真想不出来？找管理员吧……</p>
                </div>
                <div class="card-footer">
                <div class="float-right">
                    <a class="btn btn-primary" href="{{ url_for('auth.login') }}">Return Login</a>
                </div>
            </div>
            </div>
        </div>
    </div>
{% endblock %}
