{% from 'bootstrap/nav.html' import render_nav_item %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block head %}
        <title>{% block title %}{% endblock %} - NoirArt</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        {% block styles %}
            <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ url_for('static', filename='open-iconic/font/css/open-iconic-bootstrap.css') }}">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        {% endblock styles %}
    {% endblock head %}
</head>

<body>
{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-transparent fixed-top my-navbar" >
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('main.index') }}">
                <img src="{{ url_for('static', filename='n.png') }}" alt="NoirArt">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">

                <!-- 导航栏左侧元素 -->
                <div class="navbar-nav mr-auto">
                    {{ render_nav_item('main.index', 'Home') }}
                    {{ render_nav_item('main.explore', 'Explore') }}
                    <form class="form-inline my-2 my-lg-0">
                        <input type="text" name="q" class="form-control mr-sm-1" placeholder="Photo, tag or user"
                               required>
                        <button class="btn btn-light my-2 my-sm-0" type="submit">
                            <span class="oi oi-magnifying-glass"></span>
                        </button>
                    </form>
                </div>

                <!-- 导航栏右侧，判断是否登陆显示不同元素 -->
                <div class="navbar-nav ml-auto">

                {% if current_user.is_authenticated %}
                    <a class="nav-item nav-link" href="{{ url_for('main.upload') }}" title="Upload">
                        <span class="oi oi-cloud-upload" ></span>&nbsp;&nbsp;
                    </a>
                    <div class="dropdown nav-item">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-expanded="false">
                            {{ current_user.name }}<span class="caret"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" role="menu">
                            <a href="{{ url_for('user.index', username=current_user.username)}}" class="dropdown-header">Logged as {{ current_user.username }}</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="bgCheck" onclick="checkboxOnclick(this)">
                                    <label class="custom-control-label" for="bgCheck">Dynamic BG</label>
                                </div>
                            </a>
                            <a class="dropdown-item" href="{{ url_for('auth.logout') }}">
                                <span class="oi oi-power-standby"></span> Logout
                            </a>

                        </div>
                    </div>
                {% else %}
                    <a class="btn btn-outline-primary" href="{{ url_for('auth.login') }}">Login</a>&nbsp;&nbsp;
                    <a class="btn btn-primary" href="{{ url_for('auth.register') }}">Join Noir</a>
                {% endif %}
                </div>

            </div>
        </div>
    </nav>
{% endblock %}

<main style="margin-top: 60px">
    <div class="container">
        {% for message in get_flashed_messages(with_categories=True) %}
            <div class="alert alert-{{ message[0] }}">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message[1] }}
            </div>
        {% endfor %}

        <!--填充背景：视频或者图片-->
        {% if request.cookies.get('theme', 'video') == 'video' %}
        <video id="video-back" autoplay muted loop>
            <source  src="{{ url_for('static', filename='videos/bkv2.mp4') }}" type="video/mp4">
        </video>
        {% else %}
        <img id="photo-back" src="{{ url_for('static', filename='images/bk.jpg') }}">


        {% endif %}

        {% block content %}{% endblock %}
        {% block footer %}
            <footer>
                <p class="float-left">
                    <small>
                    &copy; 2018
                        <a href="https://github.com/youyuge34" target="_blank" title="Written by us">Leader</a> -
                        <a href="https://github.com/youyuge34/Noir_Art" target="_blank" title="Fork me on GitHub">GitHub</a> -
                        <a href="#" title="敏捷软件开发大作业">Team:敏捷工程不敏捷</a>
                    </small>

                </p>
                <p class="m-auto">

                </p>

                <p class="float-right">

                    <small>Share your design and f**k the life with us.</small>
                </p>
            </footer>
        {% endblock %}
    </div>
</main>

<div id="toast"></div>

{% block scripts %}

    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    {{ moment.include_moment(local_js=url_for('static', filename='js/moment-with-locales.min.js')) }}
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

    {% if request.cookies.get('theme', 'video') == 'video' %}
        <!--加载了对应的js之后才能执行里面的函数！-->
        <script> setCheckbox('video')</script>
        {% else %}
        <script> setCheckbox('photo')</script>
        {% endif %}
{% endblock %}
</body>
</html>